##encoding: utf-8
<%inherit file="/base.html"/>
## file 一開有加 slash / 則為絕對path
## 若無則為相對 path

<%block name="extra_head">
    <script type="text/javascript" src="templates/jscript/partview/Three.js"></script>
    <script type="text/javascript" src="templates/jscript/partview/RequestAnimationFrame.js"></script>
    <script type="text/javascript" src="templates/jscript/partview/objstl.js"></script>
</%block>

<%block name="extra_js">
    <script>
        window.onload = function ()
        {
            load();
            example("/kmol/${temp}/${temp}.stl");
        }
    </script>
</%block>

<%block name="nav">
    <a href="/example?category=cadp&temp=example">example</a>
</%block>

<%block name="content">
	<h1>this is cadp mid example</h1>

	<h2>Vedio</h2>
    <%block name="vedio">
        this is the vedio
    </%block>

    <h2>Img</h2>
    <%block name="img">
    </%block>

    <h2>File</h2>
    <%block name="file">
    </%block>

    ##webgl display
	<div class="showwebgl">
		<h2>stl view</h2>
		<div id="centered" class="centered">
		</div>
		<div id="webgl" oncontextmenu="return false;">
		</div>
	</div>
</%block>