##encoding: utf-8

<html>
    <head>
        <title>第5組期中網頁</title>
        <%include file="meta.html"/>
        <link rel="stylesheet" type="text/css" href="templates/style/base.css">
</head>
<h1> 這裡是第五組的期中報告網頁</h1>



<body
    <br />
<h2>說明：因為原本的程式碼無法使用，因此換成現在這個程式<br />
    以下連結開放中...<h2>
    <br />

    <br />


    <%include file="menu2.html"/>
</body>
</html>