##encoding: utf-8
## 請注意, 一定要有語系編碼設定, 否則無法處理中文
    <br />
    <%doc>
    <a href='/kmol/certificates.7z'>certificates.7z</a><br />
    <a href='/kmol/mysqlz'>mysql.7z</a><br />
    <a href='/kmol/nginx-1.2.3.7z'>nginx-2.3.4.7z</a><br />
    <a href='/kmol/Python33.7z'>Python33.7z</a><br />
    <a href='/kmol/portableLatex.7z'>portableLatex.7z</a><br />
    <a href='/kmol/SciTE.7z'>SciTE.7z</a><br />
    <a href='/kmol/certificates.7z'>certificates.7z</a><br />

    </%doc>
    <a href='https://bitbucket.org/kronos0989/c2g5'>第五組Bitbucket連結</a><br />
    <a href='https://www.copy.com/s/0W4Uj4hR97FS/C2G5'>COPY.COM</a><br />
